*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: system-ui;
  text-align: center;
  max-width: 30rem;
  margin: auto;
}
fieldset {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
}
button {
  padding: .5rem 1rem;
}
.lunch {
  display: flex;
  align-items: center;
  gap: .25rem;
}
.lunch-name {
  margin-inline-end: auto;
}