*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: system-ui;
  max-width: 30rem;
  margin: auto;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
input {
  font: inherit;
}
fieldset {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
}
button {
  padding: .5rem 1rem;
}

.header {
  text-align: center;
}
#playerName {
  text-align: center;
}
.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .25rem;
}
.player {
  border: 1px solid;
  border-radius: 99rem;
  padding: .25rem .5rem;
  background: color-mix(in display-p3, currentColor 10%, transparent);
}

.new-lunch {
  margin-block-end: .5rem;
}

.lunch {
  text-align: center;
  display: grid;
  grid-template:
    "like name diss"
    "like votes diss"
    / auto 1fr auto auto
  ;
  align-items: center;

  .like {
    grid-area: like;
  }
  .name {
    grid-area: name;
    margin: 0;
  }
  .diss {
    grid-area: diss;
  }
  .delete {
    grid-area: name;
    margin-left: auto;
/*    &:not(:focus) {
      width: 0;
      overflow: hidden;
      padding: 0;
      border: none;
    }*/
  }
  .votes {
    grid-area: votes;
  }
}